/* color codes */
.black {
    color: #000000;
}
.bg-black {
    background-color: inherit;
}
.red {
    color: #FF0000;
}
.dark-grey {
    color:#A9A9A9;
}
.charcoal {
    color: #34282C;
}
.light-red {
    color: #CD5C5C;
}
.light-grey {
    color: #DCDCDC;
}
.blue {
    color: #0000CD;
}
.purple {
    color: #7D0552;
}
.font-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.white {
    color: white;
}
/* font */ 
.font-regular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.font-semibold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
/*styling logo */

.font-logo {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2rem;

}

.form-control :focus{
    border-color: red;

}

.input-group button {
    background-color: dimgray;
    border : 0.07rem solid black;
    color : black;
    letter-spacing: 0.1rem;
}

.input-group button:hover{
    background-color: #DCDCDC;
    border : 0.07rem solid black;
    color : black;
    box-shadow : 0px 0px 5px 4px #DCDCDC;
}
