/*menu.css*/

body {
    color:#000000;
    font-family: 'Source Sans Pro', sans-serif;
}

/*styling logo */

.font-logo {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2rem;
    color: white;

}
.logo-center {
    color: #f00;
}
.navbar {
    padding-left: 0.75rem;
    padding-right:0.75rem;
}